<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Bike</title>
</head>
<body>
    <form method="POST" action="/form-1"></form>
        <input type="text" placeholder="e.g. Honda" name="Model">
        <br> <br>
        <input type="text" placeholder="100000" name="Daily_fee">
        <br> <br>
        <input type="text" placeholder="e.g. https://hondaxemay.com" name="Image">
        <br> <br>
        <input type="text" placeholder="e.g. 2013" name="Year">
        <input type="submit" value="Submit">
    </form>
</body>
</html>